@model CoreFood.Data.Models.Food


<h2>Food Add Page</h2>
<br />

@using (Html.BeginForm("AddFood", "Food", FormMethod.Post))
{
    @Html.Label("Food Name")
    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
    <br />
    @Html.Label("Stock")
    @Html.TextBoxFor(x => x.stock, new { @class = "form-control" })
    <br />
    @Html.Label("Price")
    @Html.TextBoxFor(x => x.price, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("Image URL")
    @Html.TextBoxFor(x => x.imageURL, new { @class = "form-control" })
    <br />
    @Html.Label("Category")
    @Html.DropDownListFor(x=>x.categoryID,(List<SelectListItem>)ViewBag.v1,new{@class = "form-control"})
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x => x.description, new { @class = "form-control" })
    <button class="btn btn-dark">Save</button>

}